<div id="artistModal" class="modal" role="dialog" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">

			<!-- Title -->
			<div class="modal-header">
				<!-- X button to close out modal (upper right) -->
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true" class="modal_button">&times;</span>
				</button>

				<!-- Title - usually Artist @ Venue on so-and-so date -->
				<div class="modal-title large-text pad8"></div>
			</div>

			<!-- Body -->
			<div class="modal-body container-fluid">

				<!-- ARTIST INFO .................................. -->
				<div id="artist-info" class="col-sm-12 row">
					<!-- Photo -->
					<div id="artist-photo" class="col-sm-4">
						<span class="loading">
							<div class="loading"></div>
						</span>
					</div>
					<!-- Bio -->
					<div id="artist-bio" class="col-sm-8">
						<span class="loading">
							<div class="loading"></div>
						</span>
					</div>
				</div>

				<!-- EVENT INFO .................................. -->
				<div class="margin-top-10">
					<!-- Event Tags -->
					<div class="col-sm-12 pad10" id="event-tags">
					</div>

					<!-- Event link -->
					<div class="col-xs-12 block-notice margin-top-10 minh84">
						<!-- Event Link / tickets -->
						<div class="col-xs-10 inline-block all-caps medium-text color-white" id="tix-show-title"></div>
    					<div class="col-xs-2 pad0 inline-block mw80">
    						<span id="tix-url" class="block"></span>
    						<span id="tix-url-source" class="block xsmall-text white"></span>
    					</div>
					
					</div>
				</div>
			
				<!-- SHARING LINK ................................. -->
				<div class="col-xs-12 margin-top-20">
					<div id="share-link"></div>	
				</div>

				<!-- TOP TRACKS ................................. -->
				<div id="artist-tracks" class="col-xs-12 margin-top-10 pad-left-10 h100"></div>

			</div>

			<!-- Footer -->
			<div class="modal-footer">	
				<button type="button" class="btn btn-default" data-dismiss="modal">
					Close
				</button>
			</div>

		</div>
	</div>
</div>

<script>
$(document).ready(function() {
	$('#artistModal').appendTo("body");
	$("#artistModal").on('hidden.bs.modal', function () {
		$(this).data('bs.modal', null);
		clearDiv('artist-tracks', true);
		clearDiv('artist-photo', true);
		clearDiv('artist-bio', true);
	});
});
</script>
