<div class="absolute">
	<i id="closeModalBtn" class="link fa fa-close fa-3x"></i>
</div>

<!-- div id="artist-info" class="div-two-adjacent padtop10 h320"> -->
<div id="artist-photo" class="inline-block"></div>
<div id="artist-event" class="inline-block center w320 medium-text"></div>
<div id="artist-bio" class="inline-block line-height-200"></div>
<!-- </div> -->
<div id="artist-tracks" class="div-full-length minh200 margin-bottom-10">
	<span class="loading opacity-80">
		<i class="fa fa-refresh fa-spin fa-1x"></i> loading songs
	</span>
</div>
	
