@font-face {
    font-family: "Ruda-Regular";
    src: url("fonts/ruda/Ruda-Regular.ttf");
}

@font-face {
    font-family: "Ruda-Black";
    src: url("fonts/ruda/Ruda-Black.ttf");
}


/*-------------------- HTML tags -------------------*/
body {
	background: #fafafa;
    font-size: 12px;
	font-family: "Ruda-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
    margin: 0px;
    padding: 6px;
}

a {
    color: #698ED0;
}

.large-text {
    font-family: "Ruda-Black", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 20px auto 20px auto;
    font-size: 22px !important;
    font-weight: 400;
    background-color: rgba(200, 200, 200, 0.3);
    border-radius: 6px;
    padding: 40px;
    font-size: 50px;
    letter-spacing: -1px;
}

.logo-banner {
    background-image: url("images/sax.png");
    /*min-height: 200px;*/
    background-repeat: no-repeat;
    background-size: 260px 260px;
}
/*-------------------- Column styles -------------------*/
.col-2 {
    min-width: 50%;
    min-height: 90px;
    position: relative;
    float: left;
}
.col-3 {
    min-width: 33%;
    min-height: 90px;
    position: relative;
    float: left;
}
.col-4 {
    min-width: 25%;
    min-height: 90px;
    position: relative;
    float: left;
}

/*-------------------- Row styles ---------------------------*/
.row-sm {
    display: block;
    font-size: 16px;
    font-weight: 300;
    height: auto;
    padding: 10px;
    border-bottom: 1px solid #E5E5E5;
    margin: 0 2px;
    max-width: none;
    width: auto;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.row {
    margin: 0 6px;
    max-width: none;
    width: auto;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.auto-expand {
    display: block;
    overflow-y: auto;
}
/*-------------------- div IDs -------------------*/
#content-parent {
    padding: 10px;
    height: auto;
}

#map {
    height: 180px;
    width: 180px;
    margin: 8px;
    padding: 4px;
    overflow: hidden;
    display: inline-block;
    border: 1px solid #ccc;
}

#map img {
    width: 180px;
    border-radius: 180px;
}

#shows-content {
    padding: 40px;
}

#nearby-shows {
    font-size: 10px;
}


#stuff {
    @extend .stacked-boxes-common;
    border: 1px solid #ccc;
}


/*-------------------- Classes -------------------*/
.content {
    box-shadow: 1px 2px 4px 2px rgba(10, 20, 30, 0.14);
    border-radius: 8px;
    background: #fff;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 20px;
}

.container {
    padding: 2px;
    float: left;
    min-height: 20px;
    width: 100%;
}

.btn-active {
    color: #EAEAEA;
    background-color: #CA2667;
}
.btn-inactive {
    color: #ababab;
    background-color: 'transparent';
}

.stacked-boxes-common {
    max-width: 80%;
    min-width: 30%;
    padding: 60px;
    margin: 30px auto 40px auto;
    // margin: 20px auto 0 auto;
}
.banner {
    @extend .stacked-boxes-common;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.1;
    background-color: #eee;
    border-radius: 16px;
    h1 {
        font-size: 60px;
        line-height: 1.1;
        letter-spacing: -1px;
    }
}

.fa {
    opacity: 0.68;
}

.div-two-adjacent {
    width: 100%;
    display: block;
    
    position: relative;
}

.div-full-length {
    width: 100%;
    display: block;
    overflow: auto;
}

.div-left { 
    position: absolute; 
    left: 0px; 
    width: 310px; 
    height: auto;
    /*margin-right: auto;*/
    text-align: left;
}

.div-right {
    position: absolute; 
    left: 320px; 
    height:auto;
   /* margin-left: 220px;*/
    text-align: left;
}

.fa-ticket {
    font-size: 22px !important;
}
.center {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    vertical-align: inherit;
    display: inherit;
}

.debug {
    padding: 2px;
    border: 1px solid #aaa;
}

.faveButton {
    outline: none;
    border-radius: 22px;
    color: #EAEAEA;
    margin: 0 6px 0 0;
    padding: 6px;
    border: 0px;
    width: 44px;
    height: 44px;
    opacity: 0.88;
}
.faveButton:hover {
    color: #565656;
    outline: none;
    opacity: 1;
}
.faveButton:active {
    color: #565656;
    border: 1px solid red;
    outline: none;
    opacity: 1;
}

.link {
    background: none;
    padding: 3px;
    border: none;
    color: #698ED0;
    font-weight: 800;
}

.link:hover {
    background: #B4CEE7;
    border-radius: 3px;
    cursor: pointer;
}

.phatButton {
    border-radius: 9px;
    font-family: "Ruda-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    font-size: 14px;
    background-color: #18ab29;
    padding: 8px 8px 6px 8px;
    margin: 4px;
	cursor: pointer;
    text-decoration: none;
}

.phatButton:hover {
	background-color:#5cbf2a
}

.phatButton:active{
	position: relative;
	top:1px
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

.yts-photo-wrapper {
    border-radius: 8px;
	position: relative;
	display: inline-block;
	padding: 2px;
}

.yts-photo {
	display: inline-block;
	vertical-align: text-top;
	border: 3px solid #000;
}

.yts-caption {
	font-weight: 100;
	font-size: 14px;
	color: #fff;
	background-color: #020D24;
	opacity: .85;
	position: absolute;
	padding: 2 4 2 4px;
	height: auto;
	width: auto;
	overflow: hidden;
	left: 12px;
	bottom: 10px;
}

.yts-list {
	// border: 1px solid gray;
	display: inline-block;
	padding: 8px;
}



/*------------------- Artist info  -----------*/
img.artist-profile-pic {
    border-radius: 0px;
    border: 1px solid #333;
}
.photo-container {
    left: 0px;
    width: 180px;
}
.line-height-200 {
    line-height: 200%;
}
.line-height-150 {
    line-height: 150%;
}
.line-height-100 {
    line-height: 100%;
}

.photo-caption {
    color: #fff;
    position: absolute;
    bottom: 10px;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    left: 1=px;
}
.scroll-y{
    overflow-y: scroll;
}
.pad4 {
    padding: 4px;
}
.pad10 {
    padding: 10px;
}
.w200 {
    width: 200px;
}
.h40 {
    height: 40px;
}
.h80 {
    height: 80px;
}
.h120 {
    height: 120px;
}
.h160 {
    height: 160px;
}
.h200 {
    height: 200px;
}
.h300 {
    height: 300px;
}
.h320 {
   min-height: 320px;
}
.h340 {
    height: 340px;
}
.h400 {
    height: 400px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
/*------------------- Error popup / modal dialog -----------*/
.ui-dialog.error-dialog {
    font-family: "Ruda-Regular";
    font-size: 14px;
}

.event-date {
    min-width: 100px;
}

.event-artist {
    min-width: 300px;
}
/* override jquery ui */
.ui-widget-content{
    overflow: scroll;
}

/*
        override datatables.min.css + related classes
                                                        */
input[type=search] {
    height: 30px;
    width: 160px;
    padding: 4px 2px 4px 2px;
    margin-bottom: 10px;
    border: 0px solid #999;
    border-radius: 20px;
    background: #eee;
    cursor: pointer;
    outline: 0;
    font-family: "Ruda-Regular";
    color: #999;
    font-size: 14px;
    -webkit-box-shadow: 0 3px 2px #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 2px #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 2px #ccc, 0 -1px #fff inset;
}

select {
    padding: 6px;
    min-width: 20px;
    margin: 0 6px 0 6px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 2px #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 2px #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 2px #ccc, 0 -1px #fff inset;
    background: #eee;
    border: 1px solid #eee;
    outline:none;
    display: inline-block;
    font-family: "Ruda-Regular";
    color: #999;
    font-size: 14px;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

.dataTables_wrapper {
    max-width: 100%;
}

.alternate-bgcolor {
    background-color: #FEFEFE;
}

table.dataTable tbody td {
    padding: 10px !important;
    margin: 2px !important;
}

/*           end datatables.min.css override        */

