@import "import/colors";
@import "import/fonts";
@import "import/position";

$btn-pad: 12px 8px;

$div-width: "5%";
$div-pad: 30px;

$pad-10: 10px;
$pad-20: 20px;
$pad-40: 40px;
$pad-60: 60px;

$col-min-height: 90px;

$phat-margin: 30px auto 40px auto;

$container-max-width: 70%;
$container-min-width: 320px;

$light-box-shadow: 1px 2px 4px 2px rgba(10, 20, 30, 0.14);
$pink-border: 1px solid $pink;
$gray-light-border: 1px solid $gray-light;

@mixin buildRegularFont($size) {   //, $weight: 400) {
	font-family: $font-regular !important;
	font-size: $size;
}

@mixin buildBoldFont($size) {
	font-family: $font-regular !important;
	font-weight: bold;
	font-size: $size;
}

@mixin border-radius($px) {
	-ms-border-radius: $px;
	-moz-border-radius: $px;
	-webkit-border-radius: $px;
	border-radius: $px;
}


/*-------------------- HTML tags -------------------*/
body {
	background: $almost-white;
	@include buildRegularFont($font-sm);
	font-family: $font-regular;
	color: $primary-font-color;
	overflow-y: scroll;
}

/*----------------- One offs ----------------------*/
#logo-banner {
	background-image: url("../media/images/sax.png");
	background-repeat: no-repeat;
	right: 12%;
	opacity: 0;
	background-size: 200px 200px;
	width: 200px;
	height: 200px;
	position: absolute;
	z-index: -10;
}

.auto-expand {
	display: block;
	overflow-y: auto;
}

.div-two-adjacent {
	width: 100%;
	display: inline-block;
	position: relative;
}

.div-full-length {
	width: 100%;
	display: block;
}

.inline-block { 
	position: relative !important; 
	display: inline-block;
	top: 0px;
	padding: 10px 10px 10px 0px;
	height: auto;
	text-align: left;
}

/*  Font Awesome Customness */

.fa-envelope-o {	
	padding: 8px;
    font-size: 1.5em;
    color: $gray-xlight;
    opacity: 0.8;
    display: inline-block;
    border-radius: 100px;
    box-shadow: 0 0 4px #000;
    background-color: transparent;
}

.fa-ticket {
	font-size: 1.5em !important;
	opacity: 0.85;
	padding: 8px;
    display: inline-block;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 100px;
    -moz-box-shadow: 0px 0px 1px $gray-dark;
    -webkit-box-shadow: 0px 0px 1px $gray-dark;
    box-shadow: 0px 0px 1px $gray-dark;
}

.loading {
	@include buildRegularFont($font-md);
	position: relative;
	margin-left: 40px !important;
	top: 40px !important;
	color: $gray-mid;
}

.link, .link a {
	@include buildBoldFont($font-sm);
	padding: 6px 4px;
	background: none;
	border: none;
	color: $lazy-blue !important;
}

.link:hover {
	background-color: #B4CEE7 !important;
	@include border-radius(3px);
	cursor: pointer;
}

.large-text {
	@include buildRegularFont($font-lg);
	color: #fff;
	line-height: 1.2;
	margin: 10px auto 10px auto;
}

.medium-text {
	@include buildRegularFont($font-md);
	line-height: 1.2;
	padding: $pad-10;
	margin: 20px auto 20px auto;
}

.subtitle {
	@include buildRegularFont($font-sm);
	color: $gray-mid;
}

.bg-dk-gray {
	background-color: $gray-dark;
}

/*-------------------- Column styles -------------------*/
.col-2 {
	min-width: 50%;
	min-height: $col-min-height;
	position: relative;
	float: left;
}
.col-3 {
	min-width: 33%;
	min-height: $col-min-height;
	position: relative;
	float: left;
}
.col-4 {
	min-width: 25%;
	min-height: $col-min-height;
	position: relative;
	float: left;
}

/*-------------------- Row styles ---------------------------*/
.row-sm {
	display: block;
	font-size: $font-md;
	height: 60px;
	padding: $pad-20;
	margin: 0 2px;
	max-width: none;
	width: auto;
	margin-left: 0 !important;
	margin-right: 0 !important;
}
// .row {
// 	margin: 0 6px;
// 	max-width: none;
// 	width: auto;
// 	margin-left: 0 !important;
// 	margin-right: 0 !important;
// }

/*-------------------- div IDs -------------------*/
#map {
	height: 180px;
	width: 180px;
	margin: 8px;
	padding: $pad-20;
	overflow: hidden;
	display: inline-block;
	border: $pink-border;
	
}

#map img {
	width: 180px;
	@include border-radius(180px);
}

#shows-content {
	// padding: $pad-20;
}

#nearby-shows {
	@include buildRegularFont($font-sm); 
}

#parent {
	max-width: $div-width;
	height: auto;
}

#stuff {
	@extend .stacked-boxes-common;
	border: $pink-border;
}


/*-------------------- Classes -------------------*/
.content {
	box-shadow: $light-box-shadow;
	@include border-radius(8px);
	background: #fff;
	margin-top: $pad-20;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	padding: $pad-20;
}

.container {
	padding: 2px;
	float: left;
	min-height: $pad-20;
	width: 100%;
}

.btn-active {
	color: $gray-light;
	background-color: $active-color;
}
.btn-inactive {
	color: $gray-mid;
	background-color: $inactive-color;
}

.stacked-boxes-common {
	max-width: $container-max-width;
	min-width: $container-min-width;
	padding: $pad-60;
	margin: $phat-margin;
	// margin: 20px auto 0 auto;
}
.banner {
	@extend .stacked-boxes-common;
	font-size: $font-md;
	line-height: 1.1;
	background-color: #eee;
	@include border-radius(16px);
	h1 {
		font-size: $font-xl;
		line-height: 1.1;
		letter-spacing: -1px;
	}
}

.left {
	margin-left: 0px;
	margin-right: auto;
	text-align: left;
}
.center {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.debug {
	@include border-radius(0px);
	border: $pink-border;
}

.faveButton {
	outline: none;
	@include border-radius(22px);
	color: $gray-light;
	margin: 0 6px 0 0;
	padding: 6px;
	border: 0px;
	width: 44px;
	height: 44px;
	opacity: 0.88;
}
.faveButton:hover {
	color: $gray-dark;
	outline: none;
	opacity: 1;
}
.faveButton:active {
	color: $gray-dark;
	border: 1px solid red;
	outline: none;
	opacity: 1;
}

.phatButton {
	@include border-radius(3px);
	font-family: $font-regular;
	color: $gray-light;
	font-size: $font-md;
	background-color: $btn-bg-green;
	padding: $btn-pad;
	border: 0px;
	margin: 4px;
	cursor: pointer;
	text-decoration: none;
}

.phatButton:hover {
	background-color:#5cbf2a
}

.phatButton:active{
	position: relative;
	top:1px
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/*------------- Artist Video Clips  -----------*/
.vid-list {
	display: inline-block;
	padding: 0;
    list-style-type: none;
}

.vid-clip-wrapper {
	position: relative;
	display: inline-block;
	padding: 0px 6px 2px 0px;
}

.vid-clip {
	display: inline-block;
	vertical-align: text-top;
	@include border-radius(2px);
	padding: 4px 4px 1px 4px;
	border: 1px solid $gray-mid;
    overflow: hidden;
    margin: 8px;
}

.vid-caption {
	@include buildRegularFont($font-sm);
	color: #000;
	background-color: $btn-bg-gold;
	position: absolute;
	padding: 4px 6px 4px 6px;
	height: auto;
	width: 284px;
	overflow: hidden;
	left: 5px;
	top: 24px;
}


/*------------------- Artist info  -----------*/
#artist-info {
	min-height: 240px;
}
img.artist-profile-pic {
	border: 1px solid $gray-light;
	border-radius: 3px;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	width: 236px;
	padding: 3px;
}
.photo-container {
	left: 0px;
	width: 300px;
	height: 300px;
}


.photo-caption {
	@include buildRegularFont($font-md);
	color: #fff;
	position: absolute;
	bottom: 6px;
	background: rgba(0, 0, 0, 0.5);
	padding: 6px 10px 6px 10px;
	left: 12px;
}
.scroll-y {
	overflow-y: scroll;
}

.event-date {
	min-width: 100px;
}

.event-artist {
	min-width: 300px;
}


/* override jquery ui */
.ui-widget-content{
	overflow: scroll;
}

/*	override datatables.min.css + related classes			*/
.dataTables_length {
	width: auto;
	text-align: left;
}

input[type=search] {
	height: 30px;
	width: 160px;
	padding: 4px 2px 4px 2px;
	margin-bottom: 10px;
	border: 0px solid #999;
	border-radius: 2px;
	background: #eee;
	cursor: pointer;
	outline: 0;
	color: #999;
	font-size: 14px;
	-webkit-box-shadow: 0 3px 2px #ccc, 0 -1px #fff inset;
	-moz-box-shadow: 0 3px 2px #ccc, 0 -1px #fff inset;
	box-shadow: 0 3px 2px #ccc, 0 -1px #fff inset;
}

select {
	padding: 6px;
	min-width: 20px;
	margin: 0 6px 0 6px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius: 2px;
	-webkit-box-shadow: 0 3px 2px #ccc, 0 -1px #fff inset;
	-moz-box-shadow: 0 3px 2px #ccc, 0 -1px #fff inset;
	box-shadow: 0 3px 2px #ccc, 0 -1px #fff inset;
	background: #eee;
	border: 1px solid #eee;
	outline:none;
	display: inline-block;
	color: #999;
	font-size: 14px;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	cursor:pointer;
}

.dataTables_wrapper {
	// width: 96%;
	margin: auto;
	border: $gray-light-border;
    border-radius: 3px;
}

.dataTables_wrapper table thead {
	display: none;
}

.alternate-bgcolor {
	background-color: $gray-xlight;
}

table.dataTable tbody td {
	padding: 4px 8px 4px 8px !important;
	margin: 2px !important;
}

.dataTables_paginate {
	position: absolute !important;
}

table.dataTable .date-header {
	padding: 18px 6px 12px 1px;
	background-color: $gray-light !important;
	left: -4px;
	line-height: 1;
}

.date-block-xl {
	@include buildBoldFont($font-xl);
}

.date-block-md {
	@include buildRegularFont($font-md);
}

.date-block-lg {
	@include buildRegularFont($font-lg);
}

/*           end datatables.min.css override        */


