@import "import/colors";
@import "import/fonts";
@import "import/position";
@import "import/icons";
@import "import/datatables";

@mixin buildRegularFont($size) {   //, $weight: 400) {
	font-family: $font-regular !important;
	font-size: $size !important;
}

@mixin buildBoldFont($size) {
	font-family: $font-bold !important;
	font-size: $size !important;
}

@mixin border-radius($px) {
	-ms-border-radius: $px;
	-moz-border-radius: $px;
	-webkit-border-radius: $px;
	border-radius: $px;
}

@mixin padLeft($px) {
	padding-left: $px;
}
@mixin blur($px) {
	-webkit-filter: blur($px);
	-moz-filter: blur($px);
	-o-filter: blur($px);
	-ms-filter: blur($px);
	filter: blur($px);
}

/*-------------------- HTML tags -------------------*/
body {
	background: url("../media/images/grey-diag-bg.png") !important;
	background-color: $gray-light !important;	// $almost-white;
	@include buildRegularFont($font-md);
	font-family: $font-regular;
	color: $primary-font-color;
	overflow-y: scroll;
	overflow-x: hidden;
}

/*----------------- One offs ----------------------*/
// Banner bg div
#titleHeader {
	padding: 80px 10px;
	color: $almost-white !important;
	z-index: 101;
	transition: background .35s ease-in-out, padding .5s ease-in-out, opacity .35s ease-in-out;
}
.titleHeader-secondary {
	top: -4px !important;
	color: $purple-i-like !important;
	padding: 8px 10px 2px 10px !important;
	background-color: $gray-xlight !important;
	opacity: 0.96 !important;
	border-bottom: 2px solid $gray-mid;
	transition: background .5s ease-in-out, padding .5s ease-in-out, opacity .5s ease-in-out;
}
.fixed-top {
 	position: fixed;
 	top: 0;
 	width: 100%;
    border-width: 0 0 1px;
}
// "Middle of June" text
#mojBannerText {
	@include buildBoldFont($font-lg);
	color: $almost-white;
	letter-spacing: 0.5px;
	text-shadow: 1px 2px 2px rgba(30, 30, 30, 1);
}
.mojBannerText-secondary {
	color: $purple-i-like !important;
	text-shadow: 1px 2px 2px rgba(255, 255, 255, 0) !important; 
}

#bg-plate {
    background-size: cover !important;
    background-color: #000 !important;
	// background: url('../media/backgrounds/will.jpg') no-repeat center bottom scroll;
}
#content-parent {
	max-width: 100%;
	margin: 0px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
#logo-banner {
	background-image: url("../media/images/sax.png");
	background-repeat: no-repeat;
	right: 12%;
	opacity: 0;
	background-size: 200px 200px;
	width: 200px;
	height: 200px;
	position: absolute;
	z-index: -10;
}
.event-tile {
	position: relative;
	@include border-radius(3px);
	overflow: hidden;
	padding: 2px 2px;
	margin: 0px;
	background-color: $gray-light;
	height: 280px !important;
	background-repeat: no-repeat !important;
	background-size: 100% auto !important;
	border: 1px solid $gray-dark;
}
.event-tile-bottom {
	position: absolute;
	width: 101%;
	bottom: 0px;
	min-height: 124px;
	margin-left: -3px;
	padding: 6px 0 0 0px;
	box-shadow: 0 0 0 #888,0 -3px 38px rgba(0, 0, 0, .4)
//	margin: 0 0 0 -1%;
}

.event-tile-color-bar {
	position: relative;
	min-height: 27px;
	// bottom: -1px;
	height: auto;
    // opacity: 0.9;
    z-index: 1;
}
.display-none {
	display: none;
}

.auto-expand {
	display: block;
	overflow-y: auto;
}

.link, .link a {
	@include buildBoldFont($font-md);
	letter-spacing: 0.75px;
	line-height: 1.25;
	// Use the following three together or onlky first like will be indented
	padding: 2px 6px;
	white-space: pre-wrap;
	display: block; 

	background: none;
	text-transform: uppercase;
	@include border-radius(3px);
	color: $pink !important;
	// background-color: $gray-light !important;
	border: 1px solid transparent;
}

.link:hover {
	border: 1px solid $gray-light;
	cursor: pointer;
}

/*-------- Range Slider ----------*/
#range-slider .slider-selection {
	background: #BABABA;
}

/*-------------------- Row styles ---------------------------*/
.row-sm {
	display: block;
	font-size: $font-md;
	height: 60px;
	padding: $pad-md;
	margin: 0 2px;
	max-width: none;
	width: auto;
	margin-left: 0 !important;
	margin-right: 0 !important;
}
// .row {
// 	margin: 0 6px;
// 	max-width: none;
// 	width: auto;
// 	margin-left: 0 !important;
// 	margin-right: 0 !important;
// }

/*-------------------- div IDs -------------------*/
#map {
	height: 180px;
	width: 180px;
	margin: 8px;
	padding: $pad-md;
	overflow: hidden;
	display: inline-block;
	border: $pink-border;
	
}

#map img {
	width: 180px;
	@include border-radius(180px);
}

#shows-content {
	margin-left: -8px;
	margin-right: -8px;
}

#nearby-shows {
	@include buildRegularFont($font-sm); 
}

// #parent {
// 	max-width: $div-width;
// 	height: auto;
// }

/*-------------------- Classes -------------------*/
.content {
	box-shadow: $light-box-shadow;
	@include border-radius(8px);
	background: #fff;
	margin-top: $pad-md;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	padding: $pad-md;
}

.container {
	padding: 2px;
	float: left;
	min-height: $pad-md;
	width: 100%;
}

.btn-active {
	color: $gray-light;
	background-color: $active-color;
}
.btn-inactive {
	color: $gray-mid;
	background-color: $inactive-color;
}

#action-bar {
	top: 8px;
	padding-bottom: 10px;
}

.border {
	border: 1px solid pink;
}
// #stuff {
// 	@extend .stacked-boxes-common;
// 	border: $pink-border;
// }

.stacked-boxes-common {
	max-width: $container-max-width;
	min-width: $container-min-width;
	padding: $pad-xlg;
	margin: $phat-margin;
	// margin: 20px auto 0 auto;
}
.banner {
	@extend .stacked-boxes-common;
	font-size: $font-md;
	line-height: 1.1;
	background-color: #eee;
	@include border-radius(16px);
	h1 {
		font-size: $font-xl;
		line-height: 1.1;
		letter-spacing: -1px;
	}
}


.debug {
	@include border-radius(0px);
	border: $pink-border;
}

.toggle-button {
	width: 28px;
	height: 28px;
	padding: 4px;
	vertical-align: middle;
	top: -2px;
	outline: none;
	@include border-radius(4px);
	color: $gray-light;
	opacity: 0.88;
	margin-left: 2px;
}
.toggle-button:hover {
	color: $gray-dark;
	outline: none;
	opacity: 1;
	transition: all .2s ease-in-out;
}
.toggle-button:active {
	color: $gray-dark;
	// Make the icon shrink slighlty
	border: 1px solid transparent;
	outline: none;
	opacity: 1;
	transition: all .2s ease-in-out;
}

.phatButton {
	@include border-radius(2px);
	@include buildBoldFont($font-md);
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: #fff;
	background-color: $gray-dark;
	padding: 4px 8px 0px 8px;
	margin: 1px;
	cursor: pointer;
	border: 0px;
	text-decoration: none;
	opacity: 0.88;
}
.phatButton:hover {
	background-color: $lt-blue;
}
.phatButton:active{
	position: relative;
	top:1px
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/*------------- Artist Video Clips  -----------*/
.vid-list {
	display: inline-block;
	padding: 0;
	list-style-type: none;
}

.vid-clip-wrapper {
	position: relative;
	display: inline-block;
	padding: 0px 0px 2px 0px;
	width: 99%;
}

.vid-clip {
	display: inline-block;
	vertical-align: text-top;
	width: 92%;
	@include border-radius(2px);
	padding: 2px;
	overflow: hidden;
	margin: 2px 0px 2px 8px;
}

.vid-caption {
	@include buildRegularFont($font-md);
	color: #000;
	background-color: $gold;
	position: absolute;
	padding: 4px 6px 4px 6px;
	height: auto;
	width: 90%;
	overflow: hidden;
	left: 5px;
	top: 14px;
}

/*------------------- Artist info  -----------*/
#artist-bio {
	@include buildRegularFont($font-sm);
	padding: 0px 6px 0px 6px;
}
#artist-info {
	min-height: 120px;
	height: auto;
}
#artist-photo {
	padding: 0px 0px 20px 0px;
}
img.artist-profile-pic {
	border: 1px solid $gray-light;
	@include border-radius(3px);
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	width: 216px;
	// To account for potentially empty images
	min-height: 120px;
	padding: 3px;
}

img.link:hover {
	background-color: #B4CEE7 !important;
	cursor: pointer;
}

.photo-container {
	left: 0px;
	width: 300px;
	height: 300px;
}

.photo-caption {
	@include buildRegularFont($font-md);
	color: #fff;
	position: absolute;
	bottom: 30px;
	// background: rgba(0, 0, 0, 0.8);
	background: rgba(86, 56, 92, 0.94);
	padding: 6px 10px 6px 10px;
	left: 12px;
}

#tix-show-title {
	padding: 4px 2px;
}

.scroll-y {
	overflow-y: scroll;
}



/*------------------- Event info  -----------*/
.event-tag {
	display: inline-block;
	@include buildRegularFont($font-xsm);
	@include border-radius(2px);
	padding: 1px 3px;
	margin: 0px 4px 3px 0px;
	background-color: $gold;
}

/* override jquery ui */
.ui-widget-content{
	overflow: scroll;
}
.block-notice {
	@include border-radius(4px);
	padding: 12px;
	background-color: $purple-i-like;
}
.text-input {
	@include buildRegularFont($font-xsm);
	padding: 1px 4px;
	@include border-radius(2px);
	background-color: $gray-light;
	border: 0px;
	text-align: center;
}

/*	override datatables.min.css + related classes			*/
.dataTables_length {
	width: auto;
	text-align: left;
}

.dataTables_filter {
	width: 100% !important;
	text-align: left;
	@include buildRegularFont($font-md); 
	float: left;
	margin-bottom: 10px;
}

.dataTables_wrapper .dataTables_filter label {
	width: 99%;
	display: block;
	padding: 4px 0px 6px 0px;
	font-size: 18px;
	text-align: center !important;
}

div.dataTables_wrapper div.dataTables_filter input {
	margin: auto !important;
	display: block;
	height: 30px;
	@include buildRegularFont($font-md);
	width: 60% !important;
	max-width: 300px;
	padding: 4px 2px 4px 2px;
	border: 1px solid #aaa;
	@include border-radius(2px);
	background: #fff;
	outline: 0;
	color: #333;
	box-shadow: 0 2px 2px #ccc, 0 -1px #fff inset;
}

select {
	padding: 6px;
	min-width: 20px;
	margin: 0 6px 0 6px;
	@include border-radius(2px);
	box-shadow: 0 3px 2px #ccc, 0 -1px #fff inset;
	background: #eee;
	border: 1px solid #eee;
	outline:none;
	display: inline-block;
	color: #999;
	font-size: 14px;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	cursor:pointer;
}

.date-block-xl {
	@include buildBoldFont($font-xxl);
	padding: 0px 6px 0px 8px;
	float: left;
	letter-spacing: -1px;
}

.date-block-md {
	@include buildRegularFont($font-md);
}

.date-block-lg {
	@include buildRegularFont($font-lg);
}

.short-date {
	opacity: 0.4;
	letter-spacing: -0.5px;
}


/*  override bootstrap */
.modal-header {
	// padding: 6px !important;
}
.modal-footer {
	text-align: center !important;
}
.modal-dialog {
	width: 100% !important;
	margin: 0px !important;
}
.modal-content {
	width: 100% !important;
	min-height: 500px !important;
	max-width: 768px !important;
	border-radius: 0px !important;
}
.modal-body {
	min-height: 400px !important;
}
#artistModal {
	padding: 0px !important;
}

button.close {
	padding: 12px;
	font-size: 56px;
	margin: 0 10px;
	opacity: 0.92;
	color: $pink;
}
button.close:hover {
	opacity: 0.8 !important;
	color: $pink !important;
}

