// bower:scss
// endbower

// Ruda available in: 400,700,900 weight
$font-regular: "Ruda-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-bold: "Ruda-Black", "Helvetica Neue", Helvetica, Arial, sans-serif;

$primary-font-color: #333;
$btn-bg-green: #2A713D;

$gray-light: #EAEAEA;
$gray-mid: #ababab;
$gray-dark: #565656;

$btn-bg-gold: #DBD12C;

$btn-pad: 6px;

$div-width: "5%";
$div-pad: 30px;

$pad-sm: 20px;
$pad-md: 40px;
$pad-lg: 60px;

$active-color: #CA2667;
$inactive-color: 'transparent';

$col-min-height: 90px;

$phat-margin: 30px auto 40px auto;
$container-max-width: 70%;
$container-min-width: 320px;
$debug: 1px solid #ccc;

@font-face {
    font-family: "Ruda-Regular";
    src: url("fonts/ruda/Ruda-Regular.ttf");
}

@font-face {
    font-family: "Ruda-Black";
    src: url("fonts/ruda/Ruda-Black.ttf");
}

@mixin border-radius($px) {
	-ms-border-radius: $px;
	-moz-border-radius: $px;
	-webkit-border-radius: $px;
	border-radius: $px;
}

/*-------------------- HTML tags -------------------*/
body {
	background: #fafafa;
	font-family: $font-regular;
	color: $primary-font-color;
}

h1 {
    font-family: $font-bold;
    margin: 20px auto 0 auto;
    width: $div-width;
    font-size: 18px;
    font-weight: 200;
    line-height: 36px;
    background-color: #eee;
    @include border-radius(6px);
    padding: 60px;
    font-size: 50px;
    line-height: 1;
    letter-spacing: -1px;
}

/*-------------------- Column styles -------------------*/
.col-2 {
    min-width: 50%;
    min-height: $col-min-height;
    position: relative;
    float: left;
}
.col-3 {
    min-width: 33%;
    min-height: $col-min-height;
    position: relative;
    float: left;
}
.col-4 {
    min-width: 25%;
    min-height: $col-min-height;
    position: relative;
    float: left;
}

/*-------------------- Row styles ---------------------------*/
.row-sm {
    display: block;
    font-size: 16px;
    font-weight: 300;
    height: 60px;
    padding: $pad-sm;
    border: $debug;
    margin: 0 2px;
    max-width: none;
    width: auto;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.row {
    margin: 0 6px;
    max-width: none;
    width: auto;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

/*-------------------- div IDs -------------------*/
#map {
    height: 300px;
    width: 300px;
    margin: 10px;
    padding: $pad-sm;
    overflow: hidden;
    display: inline-block;
    border: $debug;
}

#map img {
    @include border-radius(150px);
}

#shows-content {
    padding: $pad-md;
}

#nearby-shows {
    font-size: 10px;
    border: $debug;
}

#content-parent {
    max-width: $div-width;
    height: auto;
}

#stuff {
    @extend .stacked-boxes-common;
    border: $debug;
}


/*-------------------- Classes -------------------*/
.content {
    box-shadow: 1px 2px 4px 2px rgba(10, 20, 30, 0.14);
    @include border-radius(8px);
    background: #fff;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: $pad-sm;
}

.btn-active {
    color: $gray-light;
    background-color: $active-color;
}
.btn-inactive {
    color: $gray-mid;
    background-color: $inactive-color;
}

.stacked-boxes-common {
    max-width: $container-max-width;
    min-width: $container-min-width;
    padding: $pad-lg;
    margin: $phat-margin;
    // margin: 20px auto 0 auto;
}
.banner {
    @extend .stacked-boxes-common;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.1;
    background-color: #eee;
    border-radius: 16px;
    h1 {
        font-size: 60px;
        line-height: 1.1;
        letter-spacing: -1px;
    }
}

.fa {
    opacity: 0.68;
}

.left {
    margin-left: 0px;
    margin-right: auto;
    text-align: left;
}
.center {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    vertical-align: inherit;
    display: inherit;
}

.debug {
    padding: 10;
    border: 1px solid #aaa;
}

.faveButton {
    outline: none;
    @include border-radius(22px);
    color: $gray-light;
    margin: 0 6px 0 0;
    padding: 6px;
    border: 0px;
    width: 44px;
    height: 44px;
    opacity: 0.88;
}
.faveButton:hover {
    color: $gray-dark;
    outline: none;
    opacity: 1;
}
.faveButton:active {
    color: $gray-dark;
    border: 1px solid red;
    outline: none;
    opacity: 1;
}

.phatButton {
    @include border-radius(4px);
    font-family: $font-regular;
    color: $gray-mid;
    font-size: 14px;
    background-color: $btn-bg-green;
    padding: $btn-pad;
	border: 1px solid #18ab29;
	cursor: pointer;
    text-decoration: none;
}

.phatButton:hover {
	background-color:#5cbf2a
}

.phatButton:active{
	position: relative;
	top:1px
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

.yts-photo-wrapper {
    @include border-radius(8px);
	position: relative;
	display: inline-block;
	padding: 2px;
}

.yts-photo {
	display: inline-block;
	vertical-align: text-top;
    @include border-radius(7px);
	border: 7px solid #777;
}

.yts-caption {
	font-weight: 100;
	font-size: 14px;
	color: #fff;
	background-color: #020D24;
	opacity: .85;
	position: absolute;
	padding: 2 4 2 4px;
	height: auto;
	width: auto;
	overflow: hidden;
	left: 12px;
	bottom: 10px;
}

.yts-list {
	// border: 1px solid gray;
	display: inline-block;
	padding: 8px;
}


/*------------------- Error popup / modal dialog -----------*/
.ui-dialog.error-dialog {
    font-family: "Ruda-Regular";
    font-size: 14px;
}

