$primary-font-color: #333;

$almost-white: #fafafa;

$lazy-blue: #698ED0;

$btn-bg-green: #2A713D;

$gray-xlight: #f4f4f4;
$gray-light: #ddd;
$gray-mid: #bbb;
$gray-dark: #565656;

$pink: #D953E5;
$btn-bg-gold: #DBD12C;

$active-color: #CA2667;
$inactive-color: 'transparent';
