$primary-font-color: #333;

$almost-white: #fafafa;

$lazy-blue: #698ED0;

$btn-bg-green: #2A713D;

$gray-xlight: #f4f4f4;
$gray-light: #ddd;
$gray-mid: #bbb;
$gray-dark: #565656;
$purple-i-like: #B70FD5;

$pink: #D953E5;
$gold: #DBD12C;
$lt-blue: #69DDF5;
$dk-blue: #2E6DA4;

$active-color: #CA2667;
$inactive-color: 'transparent';

.color-gold {
	color: $gold;
}
.color-dk-gray {
	color: $gray-dark;
}
.color-mid-gray {
	color: $gray-mid;
}
.color-light-gray {
	color: $gray-light;
}
.color-almost-white {
	color: $almost-white !important;
}
.color-white {
	color: #ffffff;
}

.bg-dk-gray {
	background-color: $gray-dark;
}

.bg-mid-gray {
	background-color: $gray-mid;
}

.bg-lt-gray {
	background-color: $gray-light;
}
