$primary-font-color: #333;

$almost-white: #fafafa;

$lazy-blue: #698ED0;

$btn-bg-green: #2A713D;

$gray-xlight: #DEDEDE;
$gray-light: #bbb;
$gray-mid: #aaa;
$gray-dark: #777;
$gray-ultra-dark: #333;
$purple-i-like: #E30EEE;

$pink: #D953E5;
$gold: #DBD12C;
$lt-blue: #69DDF5;
$blue-mid: #4d95d4;
$dk-blue: #2E6DA4;

$active-color: #CA2667;
$inactive-color: 'transparent';

/* Foreground colors */
.color-gold {
	color: $gold;
}
.color-dk-gray {
	color: $gray-dark;
}
.color-mid-gray {
	color: $gray-mid;
}
.color-light-gray {
	color: $gray-light;
}
.color-almost-white {
	color: $almost-white !important;
}
.color-white {
	color: #ffffff;
}

/* Borders */
.border-mid-gray {
	border: 1px solid $gray-mid;
}

/* Backgrounds */
.bg-purple-i-like {
	background-color: $purple-i-like;
}
.bg-dk-gray {
	background-color: $gray-dark;
}
.bg-blue-mid {
	background-color: $blue-mid;
}
.bg-dk-blue {
	background-color: $dk-blue;
}
.bg-mid-gray {
	background-color: $gray-mid;
}
.bg-lt-gray {
	background-color: $gray-light;
}
.bg-almost-white {
	background-color: $almost-white;
}
