
// Ruda available in: 400,700,900 weight
$font-regular: "Ruda-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-bold: "Ruda-Black", "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-xs: 8px;
$font-sm: 12px;
$font-md: 18px;
$font-lg: 24px;
$font-xl: 48px;

$font-weight-400: 400;
$font-weight-700: 700;
$font-weight-900: 900;
// END FONTS
