/** 
 *	Duplicate mixins from main.scss  
 */
@mixin border-radius($px) {
	-ms-border-radius: $px;
	-moz-border-radius: $px;
	-webkit-border-radius: $px;
	border-radius: $px;
}

/** 
 *    FA replacements, ohh yeahhh  
 */

// Basic, no click action
.icon-basic {
	width: 30px;
	height: 30px;
	cursor: pointer;
	padding: 4px;
	display: inline-block;
}

.icon-basic-link {
	width: 30px;
	height: 30px;
	cursor: pointer;
	padding: 4px;
	display: inline-block;
}

.icon-lg {
	width: 80px;
	height: 80px;
	margin: 20px 0px;
	display: block;
}

/** 
*    Body Link Styles 
*/
.icon-simple, .icon-action {
	width: 42px !important;
	height: 36px !important;
	cursor: pointer;
	display: inline-block;
	padding: 6px;
	opacity: 1;
}

.icon-action {
	// background-color: $purple-i-like;
	@include border-radius(2px);
	margin: 2px;
}
.icon-action:hover {
	background-color: $gray-mid !important;
	transition: all 0.20s cubic-bezier(0.05, 0.71, 0.66, 0.85);
}
.icon-link {
	padding: 6px;
	cursor: pointer;
	width: 44px;
	height: 44px;
	opacity: 1;
	border: 1px $gray-mid solid;
}
.icon-link:hover{
	background-color: $lt-blue !important;
	opacity: 0.9;
	transition: all 0.25s cubic-bezier(0.05, 0.71, 0.66, 0.85);
	border: 1px solid $purple-i-like;
}
.icon-round {
	@include border-radius(30px);
	margin: 1px;
}

/** 
*    Loading spinner  
*/
.loading-spinner {
	font-size: 10px;
	margin: 10px auto;
	text-indent: -9999em;
	width: 3em;
	height: 3em;
	border-radius: 58%;
	background: #ffffff;
	background: linear-gradient(to right, #DBD12C 10%, rgba(255, 252, 210, 0) 42%);
	position: relative;
	-webkit-animation: load3 1.4s infinite linear;
	animation: load3 1.4s infinite linear;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}
.loading:before {
	width: 0%;
	height: 0%;
	background: #ffffff;
	border-radius: 100% 0 0 0;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
}
.loading:after {
	background: #fff;
	width: 80%;
	height: 90%;
	border-radius: 50%;
	content: '';
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
@-webkit-keyframes load3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
}
