/** 
 *    Duplicate mixins from main.scss  
 */
@mixin border-radius($px) {
    -ms-border-radius: $px;
    -moz-border-radius: $px;
    -webkit-border-radius: $px;
    border-radius: $px;
}

/** 
 *    FA replacements, ohh yeahhh  
 */

// Action bar links
.icon-action {
    width: 44px;
    height: 40px;
    cursor: pointer;
    padding: 4px;
    margin: 4px;
    opacity: .65;
    display: inline-block;
    @include border-radius(8px);
    background-color: #fafafa;
}
.icon-action:hover {
    background-color:#5cbf2a;
    opacity: .9;
    transition: all 0.12s cubic-bezier(0.53, 0.26, 1, 1);
}

/** 
 *    Body Link Styles 
 */
.icon-link {
    width: 36px;
    height: 36px;
    cursor: pointer;
    @include border-radius(30px);
    padding: 2px;
    margin: 1px;
    opacity: .8;
    display: inline-block;
    background-color: #fff;
}
.icon-link:hover{
    background-color: #B4CEE7 !important;
    transition: all 0.12s cubic-bezier(0.53, 0.26, 1, 1);
}


/** 
 *    Loading spinner  
 */
.loading {
  font-size: 10px;
  margin: 10px auto;
  text-indent: -9999em;
  width: 3em;
  height: 3em;
  border-radius: 58%;
  background: #ffffff;
  background: linear-gradient(to right, #DBD12C 10%, rgba(255, 252, 210, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loading:before {
  width: 0%;
  height: 0%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loading:after {
  background: #fff;
  width: 80%;
  height: 90%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
