/*      General Stuff          */
.absolute {
    position: absolute;
}
.relative  {
    position: relative;
}
.hidden {
    display: none;
}
.opacity-30 {
    opacity: 0.3;
}
.opacity-40 {
    opacity: 0.4;
}
.opacity-60 {
    opacity: 0.6;
}
.opacity-80 {
    opacity: 0.8;
}

.fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

/* Font size & Line Height */
.em2 {
    font-size: 2em;
}
.em3 {
    font-size: 3em;
}
.em4 {
    font-size: 4em;
}


.line-height-200 {
    line-height: 200%;
}
.line-height-150 {
    line-height: 150%;
}
.line-height-125 {
    line-height: 125%;
}
.line-height-100 {
    line-height: 100%;
}

/*       Padding and Margins      */
.pad4 {
    padding: 6px !important;
}
.top20 {
    top: 20px;
}
.top40 {
    top: 40px;
}
.top60 {
    top: 60px;
}
.top80 {
    top: 80px;
}
.top100 {
    top: 100px;
}
.top200 {
    top: 200px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.padtop10 {
    padding-top: 10px;
}

.padbot20 {
    padding-bottom: 20px;
}


.pad4 {
    padding: 4px;
}
.pad10 {
    padding: 10px;
}

/*       Dimensions              */
.w100p {
    width: 100%;
}

.w10 {
    width: 10px;
}
.w40 {
    width: 40px;
}
.w45 {
    width: 45px;
}
.w50 {
    width: 50px;
}
.w60 {
    width: 60px;
}
.w80 {
    width: 80px;
}
.w100 {
    width: 100px;
}

.w200 {
    width: 200px;
}
.w300 {
    width: 300px;
}
.mw300 {
    min-width: 300px;
}
.mw200 {
    min-width: 200px;
}
.mw100 {
    min-width: 100px;
}
.w320 {
    width: 320px;
}
.h40 {
    height: 40px;
}
.h80 {
    height: 80px;
}
.h120 {
    height: 120px;
}
.h160 {
    height: 160px;
}
.h200 {
    height: 200px;
}
.h280 {
    height: 280px;
}
.h300 {
    height: 300px;
}
.h320 {
   height: 320px;
}
.h340 {
    height: 340px;
}
.h400 {
    height: 400px;
}
.minh200 {
    min-height: 200px
}
