/*      General Stuff          */
.absolute {
    position: absolute;
}
.hidden {
    display: none;
}
.opacity-30 {
    opacity: 0.3;
}
.opacity-60 {
    opacity: 0.6;
}
.opacity-80 {
    opacity: 0.8;
}


.line-height-200 {
    line-height: 200%;
}
.line-height-150 {
    line-height: 150%;
}
.line-height-100 {
    line-height: 100%;
}

/*       Padding and Margins      */
.top20 {
    top: 20px;
}
.top40 {
    top: 40px;
}
.top60 {
    top: 60px;
}
.top80 {
    top: 80px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}

.padtop10 {
    padding-top: 10px;
}


.pad4 {
    padding: 4px;
}
.pad10 {
    padding: 10px;
}

/*       Dimensions              */
.w200 {
    width: 200px;
}
.h40 {
    height: 40px;
}
.h80 {
    height: 80px;
}
.h120 {
    height: 120px;
}
.h160 {
    height: 160px;
}
.h200 {
    height: 200px;
}
.h280 {
    height: 280px;
}
.h300 {
    height: 300px;
}
.h320 {
   min-height: 320px;
}
.h340 {
    height: 340px;
}
.h400 {
    height: 400px;
}
