$btn-pad: 6px 8px !important;

$div-width: "5%";
$div-pad: 30px !important;

$pad-xsm: 4px !important;
$pad-sm: 10px !important;
$pad-md: 16px !important;
$pad-lg: 40px !important;
$pad-xlg: 60px !important;

$col-min-height: 90px !important;

$phat-margin: 30px auto 40px auto;

$container-max-width: 70%;
$container-min-width: 320px !important;

$light-box-shadow: 1px 2px 4px 2px rgba(10, 20, 30, 0.14);
$pink-border: 1px solid $pink;
$gray-light-border: 1px solid $gray-light;

/*      General Stuff          */
.absolute {
    position: absolute;
}
.relative  {
    position: relative;
}
.hidden {
    display: none;
}
.block {
    display: block;
}
.flex {
    display: flex;
}

.inline-block { 
    position: relative !important; 
    display: inline-block;
    height: auto;
    text-align: left;
}


.center {
    text-align: center;
    margin-right: auto !important;
    margin-left: auto !important;
}
.left {
    margin-left: 0px;
    margin-right: auto;
    text-align: left;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}

.opacity-30 {
    opacity: 0.3;
}
.opacity-40 {
    opacity: 0.4;
}
.opacity-60 {
    opacity: 0.6;
}
.opacity-80 {
    opacity: 0.8;
}

.fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

/* Font size & Line Height */
.em2 {
    font-size: 2em;
}
.em3 {
    font-size: 3em;
}
.em4 {
    font-size: 4em;
}


.line-height-200 {
    line-height: 200%;
}
.line-height-150 {
    line-height: 150%;
}
.line-height-125 {
    line-height: 125%;
}
.line-height-100 {
    line-height: 100%;
}

/*       Padding and Margins      */
.pad0 {
    padding: 0px !important;
}
.pad4 {
    padding: 4px !important;
}
.pad6 {
    padding: 6px !important;
}
.pad8 {
    padding: 8px !important;
}
.pad10 {
    padding: 10px !important;
}
.pad20 {
    padding: 20px !important;
}
.pad40 {
    padding: 40px !important;
}
.pad60 {
    padding: 60px !important;
}
.pad80 {
    padding: 80px !important;
}
.pad100 {
    padding: 100px !important;
}

.pad-left-6 {
    padding-left: 6px !important;
}
.pad-left-10 {
    padding-left: 10px !important;
}
.pad-left-20 {
    padding-left: 20px !important;
}
.pad-right-10 {
    padding-right: 10px !important;
}

// Top Padding
.pad-top-4 {
    padding-top: 4px !important;
}
.pad-top-10 {
    padding-top: 10px !important;
}

// Bottom Padding
.pad-bot-10 {
    padding-bottom: 10px !important;
}
.pad-bot-20 {
    padding-bottom: 20px !important;
}

.pad-lr-10{
    padding: 0 10px 0 10px;
}


// Tops
.top20 {
    top: 20px !important;
}
.top40 {
    top: 40px !important;
}
.top60 {
    top: 60px !important;
}
.top80 {
    top: 80px !important;
}
.top100 {
    top: 100px !important;
}
.top200 {
    top: 200px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}
.margin-bottom-20 {
    margin-bottom: 20px !important;
}
.margin-left-20 {
    margin-left: 20px !important;
}
.margin-left-50 {
    margin-left: 50px !important;
}
.margin-right-10 {
    margin-right: 10px !important;
}


/*       Dimensions              */
// Width - %
.w100p {
    width: 100%;
}
.w90p {
    width: 90%;
}
.w80p {
    width: 80%;
}
.w60p {
    width: 60%;
}
.w50p {
    width: 50%;
}
.w40p {
    width: 40%;
}
.w88p {
    width: 88%;
}
// Widths - px
.w10 {
    width: 10px !important;
}
.w10 {
    width: 10px !important;
}
.w40 {
    width: 40px !important;
}
.w45 {
    width: 45px !important;
}
.w50 {
    width: 50px !important;
}
.w60 {
    width: 60px !important;
}
.w80 {
    width: 80px !important;
}
.w100 {
    width: 100px !important;
}
.w200 {
    width: 200px !important;
}
.w300 {
    width: 300px !important;
}
.mw80 {
    min-width: 80px !important
}
.mw300 {
    min-width: 300px !important;
}
.mw200 {
    min-width: 200px !important;
}
.mw100 {
    min-width: 100px !important;
}
.w320 {
    width: 320px !important;
}

// Heights - px
.h20 {
    height: 20px !important;
}
.h30 {
    height: 30px !important;
}
.h40 {
    height: 40px !important;
}
.h50 {
    height: 50px !important;
}
.h50p {
    height: 50% !important;
}
.h60 {
    height: 60px !important;
}
.h60p {
    height: 60% !important;
}
.h80 {
    height: 80px !important;
}
.h120 {
    height: 120px !important;
}
.h160 {
    height: 160px !important;
}
.h200 {
    height: 200px !important;
}
.h280 {
    height: 280px !important;
}
.h300 {
    height: 300px !important;
}
.h320 {
   height: 320px !important;
}
.h340 {
    height: 340px !important;
}
.h400 {
    height: 400px !important;
}
.h480 {
    height: 480px !important;
}
.h520 {
    height: 520px !important;
}
.minh84 {
    min-height: 84px !important;
}
.minh180 {
    min-height: 180px !important;
}
.minh200 {
    min-height: 200px !important;
}


// Heights - %
.h40p {
    height: 40% !important;
}
.h100p {
    height: 100% !important;
}


